services:
  db:
    image: postgres:15-alpine
    container_name: routine-app-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: routine-app-db
